*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: black;
    color: whitesmoke;
    font-size: 2rem;
    display: flex;
    flex-flow: column;
}

nav {
    padding: 1rem;
    background-color: green;
    color: white;
    font-size: 2.5rem;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1,
h2 {font-size: 2.5rem;}

h1,
p {
    text-align: left;
}

a {
    text-decoration: none;
    color:#81dbb8;
}

a:hover {
    opacity: .85;
}

.banner {
    display:block;
    width: 100%;
    max-width: 800px;
}

.errorlist li::marker {
    content: '🚨 ';
}

.logout {
    display: inline-block;
}

.logout-button {
    font-size: 2.5rem;
    background-color: rgb(0, 0, 0, 0);
    border: none;
}

.logout-button:hover {
    opacity: .85;
}

form.logout {
    display: inline;
}

.logout-button {
    background: none;
    border: none;
    padding: 0;
    font-size: inherit;
    cursor: pointer;
}